.filter {
    display: block;
}

.menu {
    padding: 16px 0;
    border-bottom: 1px solid #e9e9e9;
    margin-left: -12px;
    margin-right: -12px;
}
.item {
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
}

.link {
    border-radius: 100px;
    display: block;
    padding: 9px 16px;
    text-decoration: none;
    background-color: #e9e9e9;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 700;
}